<center>
  <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
    <tbody>
      <%= render 'header' %>
      <tr id="pagespace" title="" style="height:10px"></tr>
          
          <tr id="pagespace" title="Ask" style="height:10px"></tr>
          
          <tr>
            <td>
              <table border="0" cellpadding="0" cellspacing="0" class="itemlist">
                <tbody>
                  <!-- /////////////////ASK///////////////-->
                  <% cont = 0%>
                  <% @asks.each_with_index do |ask, index| %>
                    <%=render 'post_in_list', post: ask, index: index %>
                  <% end %>
                  <!-- /////////////////FI POST///////////////-->
                  
                  <tr class="morespace" style="height:10px"></tr>
                  <tr>
                    <td colspan="2"></td>
                    <td class="title"><a href="ask?p=2" class="morelink" rel="next">More</a></td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          
          <%= render 'footer'%>
        </tbody>
      </table>
    </center>
    <script type="text/javascript" src="hn.js?WmOPHVu15TVF5xOnDKhL"></script>
  </body>
  
  </html>